@{
    ViewBag.Title = "Register Page";
    var msg = ViewBag.Message;
}
@msg
<form action="/Login/Register" method="post">
    <label>Name:</label><input type="text" name="name" /><br/>
    <label>Password:</label><input type="password" name="password" /><br/>
    <input type="submit" value="Register" />
</form>
<form action="/Login/Index">
    <input type="submit" value="Login"/>
</form>