@using fitness.Models
@{
    ViewBag.Title = "title";
    string s = ViewBag.S;
}
@s
<form action="/Home/Code" method="post">
    <label>Sub code:</label><input type="text" name="code"/>
    <input type="submit" value="Ok"/>
</form>